#!/bin/bash

# Move old build directory to archive
mkdir -p _archive
mv -v MyFirstProject-* _archive/

# Start new build
./build-MyFirstProject.sh &

# Wait for new build directory and log file to be created
sleep 5

# Follow tail of build log
tail -f $(ls -d MyFirstProject-*)/build.log | sed '/^Build finished$/ q'

while [ ! -f "$(ls -d MyFirstProject-*)/deploy.sh" ]; do
  sleep 1
done

$(ls -d MyFirstProject-*)/deploy.sh
