check process pharo-http-server
    with pidfile "/home/user/pharo/pharo-http-server/run-pharo-http-server.pid"
    start program = "/bin/systemctl start pharo-http-server"
    stop program = "/bin/systemctl stop pharo-http-server"
    if failed 
	   port 42002
	   protocol http
	   request "/metrics/system.status"
	   status = 200
	   content = "Status OK"
       timeout 10 seconds retry 3
    then restart
